[flake8]
max-line-length = 100
output-file = flake8_log.txt
tee = True
additional_dependencies:
    - flake8-black
    exclude: .git,__pycache__,build,dist
    args:
        - --max-line-length=100
        - --extend-ignore=E203,E266,E501,W503, BLK100, F811
