[flake8]
max-line-length = 120
output-file = flake8_log.txt
tee = True
extend-ignore= E203, E266 BLK100
#BLK100 designates where Black would make changes
#E266 Too many leading '#' for block comment
#E203 Whitespace rule relating to ':' that directly conflicts with black standards
