name: Test

on:
  pull_request:
  push: { branches: [main] }
  workflow_dispatch:

env:
  python_version: '3.10'
  RDMAV_FORK_SAFE: 1
jobs:
  unit_tests:
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout Repo
      uses: actions/checkout@v3.3.0
    - name: Setup NoisePy
      uses: ./.github/actions/setup
      with:
        python-version: ${{env.python_version}}
        mpi: 'true'
    - name: pytest
      run: PYTHONPATH=src pytest tests/. integration_tests/. --cov
    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v3
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
  unit_tests_win:
    runs-on: windows-latest
    steps:
    - name: Checkout Repo
      uses: actions/checkout@v3.3.0
    - name: Setup NoisePy
      uses: ./.github/actions/setup
      with:
        python-version: ${{env.python_version}}
        mpi : 'true'
    - name: pytest
      run: |
        set PYTHONPATH=src
        pytest tests/. integration_tests/.
  s1_s2:
    strategy:
      fail-fast: true
      matrix:
        python_version: ['3.9', '3.10']
        method: [linear,robust, nroot, selective, auto_covariance, pws]
        freq_norm: [rma]
        format: [asdf]
        substack: [false]
        include:
        - method: linear
          python_version: '3.10'
          freq_norm: no
          format: zarr
          substack: true
        - method: all
          python_version: '3.9'
          freq_norm: phase_only
          format: numpy
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout Repo
      uses: actions/checkout@v3.3.0
    - name: Setup NoisePy
      uses: ./.github/actions/setup
      with:
        python-version: ${{matrix.python_version}}
    - name: Test Cross-Correlation (S1)
      run: |
        noisepy cross_correlate \
        --config configs/s3_anon.yaml \
        --raw_data_path s3://scedc-pds/continuous_waveforms/ \
        --ccf_path $RUNNER_TEMP/CCF \
        --net_list=CI \
        --start=2023-01-01 \
        --end=2023-01-03 \
        --stations=ARV,BAK \
        --xml_path=s3://scedc-pds/FDSNstationXML/CI/ \
        --freq_norm ${{matrix.freq_norm}} \
        --format ${{matrix.format}}
        # noisepy cross_correlate --raw_data_path $RUNNER_TEMP/RAW_DATA --ccf_path $RUNNER_TEMP/CCF --freq_norm ${{matrix.freq_norm}} --format ${{matrix.format}}
    - name: Test Stacking (S2)
      run: |
        noisepy stack --ccf_path $RUNNER_TEMP/CCF --stack_path $RUNNER_TEMP/STACK --stack_method ${{matrix.method}} --format ${{matrix.format}}
  s1_s2_mpi:
    strategy:
      fail-fast: true
      matrix:
        python_version: ['3.10']
        method: [linear]
        freq_norm: [rma]
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout Repo
      uses: actions/checkout@v3.3.0
    - name: Setup NoisePy
      uses: ./.github/actions/setup
      with:
        python-version: ${{matrix.python_version}}
        mpi: 'true'
    - name: Test Cross-Correlation (S1)
      run: |
        mpiexec -n 2 noisepy cross_correlate \
        --config configs/s3_anon.yaml \
        --mpi \
        --raw_data_path s3://scedc-pds/continuous_waveforms/ \
        --ccf_path $RUNNER_TEMP/CCF \
        --net_list=CI \
        --start=2023-01-01 \
        --end=2023-01-03 \
        --stations=ARV,BAK \
        --xml_path=s3://scedc-pds/FDSNstationXML/CI/  \
        --freq_norm ${{matrix.freq_norm}} \
        --format numpy
    - name: Test Stacking (S2)
      run: |
        mpiexec -n 3 noisepy stack --mpi --ccf_path $RUNNER_TEMP/CCF --stack_path $RUNNER_TEMP/STACK --stack_method ${{matrix.method}} --format numpy
  s3_dates:
    strategy:
      fail-fast: true
      matrix:
        python_version: ['3.9', '3.10']
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout Repo
      uses: actions/checkout@v3.3.0
    - name: Setup NoisePy
      uses: ./.github/actions/setup
      with:
        python-version: ${{matrix.python_version}}
    - name: Test S3 data for a date range
      run: |
        noisepy cross_correlate --raw_data_path s3://scedc-pds/continuous_waveforms/ \
        --ccf_path $RUNNER_TEMP/CCF_S3 --freq_norm rma \
        --xml_path s3://scedc-pds/FDSNstationXML/CI/ \
        --stations "SBC,RIO" --start_date 2022-02-02 --end_date 2022-02-04 \
        --config configs/s3_anon.yaml
